<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SendIT</title>
</head>
<style>
    *{
        margin: 0px;
    }
    body {
        width: 100%;
        margin: auto;
        padding-bottom: 50px;
        display:flex;
        flex-direction: column;
    }
    
</style>
<body>
    <h2 style="font-size: 35px;text-align: left;width:100%;">Hello <%=firstName%>,</h2>
    <p style="color: black;font-size: 20px; margin: 10px 0px;font-weight: 400;">Welcome to SENDIT.Account created successfuly :) </p>
    <p style="color: gray;font-size: 15px; margin: 3px 0px;font-weight: 400;">Feel free to use our services to send and receive parcels. </p>
   
</body>
</html>