
<div class="main" *ngIf="parcels$ |async as parcels" [ngClass]="{'div-showing': showing === true}">
  <div *ngIf="parcels.length ;else noParcels" class="parcelsContainer" [ngStyle]="{display: 'flex',alignItems:'center',justifyContent:'space-between',flexWrap:'wrap',width:'80%',margin:'20px auto'}">
 
      
 
  <!-- <pagination-controls class="page" (pageChange)="page =$event"></pagination-controls> -->
  
 



  <div class="user-parcel" *ngFor="let parcel of parcels |paginate:{itemsPerPage:4,currentPage:page} ,let i=index" (click)="show()">
    <h3 class="parcel-type">{{parcel.parcel_type}}</h3>
    <p class="parcel-id">{{parcel.parcel_id}}</p>
    <hr>
    <div class="parcel-info">
        <div class="parcel-info-top">
          <p>
            <span class="parcel-info-top-to">To</span>
            <span class="parcel-info-top-destination">{{parcel.parcel_destination}}</span>
          </p>
          <p>
            <span class="parcel-info-top-from">From</span>
            <span class="parcel-info-top-destination">{{parcel.parcel_origin}}</span>
          </p>
        </div>
        <div class="parcel-info-bottom">
            <p>
                <span class="parcel-info-top-to">Delivery</span>
                <span class="parcel-info-top-destination">G4S</span>
              </p>
              <p>
                <span class="parcel-info-top-from">Item Weight</span>
                <span class="parcel-info-top-destination">{{parcel.parcel_weight}}kg</span>
              </p>
        </div>
        <div class="parcel-info-footer">
            <div class="parcel-info-footer-left">
                <p>
                    <span class="parcel-info-top-to">Settings</span>
                    <button class="parcel-info-top-destination" (click)="onDelete(parcel.parcel_id)">Delete</button>
                  </p>
            </div>
            <div class="parcel-info-footer-right">
              <button class="parcel-info-top-destination">Update</button>
            </div>
        </div>
    </div>
    
</div>

</div>
<pagination-controls class="page" (pageChange)="page =$event"></pagination-controls>
</div>

<ng-template #noParcels>
  <p>No parcels available!!</p>
</ng-template>
<div *ngIf="showing" [ngClass]="{'div-not-showing': showing === true}">
  <app-modal></app-modal>

</div>
