<div class="homepage-wrapper">
    <div class="hero-wrapper">
        <app-shared></app-shared>
        <div class="hero-wrapper-container">
        <div class="hero-wrapper-left">
            <h1>The powerful shipping app in the world</h1>
            <p>We serve your shipments quickly and safely.Prudence and Security of parcels on our carriers will
                be truly maintained until the destination
            </p>
            <button class="get-started">Get Started</button>
        </div>
        <div class="hero-wrapper-right">
            <img src='../assets/parcel3.jpg'alt='hero-image'/>
        </div>
        </div>
        
    </div>
    <div class="hero-about">
        <div class="hero-about-left">
            <mat-card  class="hero-card">
                <mat-icon class='hero-card-icon' aria-label="location-icon">location_on</mat-icon>
                <h4 class="hero-card-title">Real-time tracking</h4>
                <p class="hero-card-description">We will use all our strength to shorten the time it takes for the parcel to be delivered.</p>
            </mat-card >
            <mat-card  class="hero-card">
                <mat-icon class='hero-card-icon'aria-label="gpp_good-icon">gpp_good</mat-icon>
                <h4 class="hero-card-title">Item Safety</h4>
                <p class="hero-card-description">Shipments are treated with care and well guarded.No need to worry.</p>
            </mat-card >
            <mat-card  class="hero-card">
                <mat-icon class='hero-card-icon'aria-label="scale-icon">scale</mat-icon>
                <h4 class="hero-card-title">Weight Scales</h4>
                <p class="hero-card-description">Already using digital scales which will be more significant.</p>
            </mat-card >
            <mat-card  class="hero-card">
                <mat-icon class='hero-card-icon'aria-label="lock-icon">lock</mat-icon>
                <h4 class="hero-card-title">Compensation Service</h4>
                <p class="hero-card-description">Guarantee your item will be compensated if there is damage.</p>
            </mat-card >
        </div>
        <div class="hero-about-right">
            <h2 class="hero-card-right-description">Trust and security is very important for <span>SENDIT.</span>The core features we have</h2>
            <p>Ensure facilities we provide to maintain the feasibility of shipping to keep it safe and fast.</p>
            <div class="hero-about-footer">
                <div class="hero-about-footer-div">
                    <h2>15M<span>+</span></h2>
                    <p>More Users</p>
                </div>
                <div class="hero-about-footer-div">
                    <h2>100<span>+</span></h2>
                    <p>Delivery Cars</p>
                </div>
                <div class="hero-about-footer-div">
                    <h2>20<span>+</span></h2>
                    <p>InterCity Trucks</p>
                </div>
            </div>
        </div>
    </div>
</div>
