<div class="header-wrapper">
    <div class="header-logo">
        <span class="header-logo-1">SEND</span>
        <span class="header-logo-2">IT</span>
    </div>
    <ul class="header-links">
        <li class="link" routerLink="" routerLinkActive="router-link-active" [routerLinkActiveOptions]={exact:true}>Home</li>
        <li class="link" routerLink="/user/user" routerLinkActive="router-link-active">User</li>
        <li class="link" routerLink="/admin/admin" routerLinkActive="router-link-active">Admin</li>
    </ul>
    <div class="header-buttons">
        <button class="login-button"  a [routerLink]="['/auth/login']">LOGIN</button>
        <button class="register-button"  a [routerLink]="['/auth/register']">REGISTER</button>
    </div>
</div>