<form class="login-form" #loginForm="ngForm" (ngSubmit)="onLogin()">
    <div class="login-form-inner-div">
    <div class="login-form-header">
        <h3>LOGIN</h3>
        <span>X</span>
    </div>
    <p class="login-form-input-container">
        <small *ngIf="(email.valid ||email.touched) && email.errors?.['required'] ">Email is required</small>
        <input type="email" name="email" placeholder='email'ngModel #email="ngModel" required/>
    </p>
    <p class="login-form-input-container">
        <small *ngIf="(password.valid ||password.touched) && password.errors?.['required'] ">password is required</small>
        <input type="password" name="password" placeholder='password'  #password="ngModel" ngModel required/>
    </p>
    <button type="submit" class="login-submit" [disabled]="!loginForm.valid" >LOGIN</button>
    <p [ngStyle]="{'font-size': '18px','text-align':'left'}">New Here?<span [ngStyle]="{'color': 'orange','cursor':'pointer'}">Register</span></p>
    <button class="google-login"><img src='../../../../assets/google.png' alt='google-image' class='google-image'/>Sign in with Google</button>
    
    </div>
</form>
