<app-shared></app-shared>
<div class="admin-container">
    <div class="admin-left">
        <ul class="admin-left-ul">
            <li class="admin-left-li" routerLink="/admin/admin/parcels" routerLinkActive="active">All Parcels</li>
            <li class="admin-left-li" routerLink="/admin/admin/customers" routerLinkActive="active">All Customers</li>
            <li class="admin-left-li" routerLink="/admin/admin/newShipment" routerLinkActive="active">Add Shipment</li>
        </ul>
    </div>
    <div class="admin-right">
        <router-outlet></router-outlet>
    </div>
</div>

